a {
  text-decoration: none;
  color: rgb(25, 118, 210);
}


.App {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.sectionBody{
  width: 100%;
  margin-left: 20px;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: rgba(0,0,0,0.05);
}
.sectionBodyP {
  transform: rotate3d(1, -1, 0, -20deg);
  transform-origin: 0% 0% 0px;
  position: relative;
  left: 16px;
}
.sectionBody h2{
  transform: rotate3d(1, -1, 0, -20deg);
  transform-origin: 0% 0% 0px;
  position: relative;
  left: 20px;
  z-index: 10;
}
.sectionBody h4{
  transform: rotate3d(1, -1, 0, -20deg);
  transform-origin: 0% 0% 0px;
  position: relative;
  left: 18px;
}

.Section {
  margin: 26px;
  padding-top: 100px;
  margin-bottom: 200px;
}
.Section p{
  padding-bottom: 10px;
  max-width: 650px;
}

#section1 {
  padding-bottom: 70px;
  padding-top: 180px;
}

#section1 h2 {
  font-size: 4em;
  line-height: 100%;
}
#section1 h4 {
  font-size: 1.5em;
  max-width: 300px;
}

.ModalBody {
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  overflow: hidden;
  background-color: rgba(255,255,255,0.95);
  max-width: 1200px;
  border: 1px solid #000;
  padding: 20px;
}

.youTubeWrapper {
  padding-top: 20px;
  width: 90%;
  margin: auto;
  aspect-ratio: 16/9;
}

.cardBodyClick {
  scale: (1.0);
  cursor: pointer;
  overflow: hidden;
  transition: 0.6s;
  min-width: 200px;
  max-width: 400px;
  transform: rotate3d(1, -1, 0, -20deg);
  transform-origin: 50% 50% 0px;
}
.cardBodyClick:hover {
  transform: scale(1.05);
  transition: 0.4s;
  transform: rotate3d(0.2, -0.2, 0, -30deg);
  transform-origin: 50% 50% 0px;
}
.cardBodyClick:before {
  content: '';
  position: absolute;
  top: -200px;
  left: -300px;
  width: 80%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 60px 40px rgba(255, 255, 255, 0.3);
  transform: skewX(-40deg);
  transition: 0.6s;
}
.cardBodyClick:hover:before {
  left: 250px;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 60px 40px rgba(255, 255, 255, 0.1);
}
.cardBodyNoClick {
  cursor: default;
}

.cardBG {
  overflow: hidden;
  background-color: rgba(255,255,255,0.5);
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: rgba(0,80,200,0.1);
}

.Navigation {
  width: 40%;
  max-width: 216px;
  margin-left: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.navWrapper {
  position: fixed;
  width: 28%;
  max-width: 214px;
  border-radius: 6px;
  text-align: center;
}

.navFooter {
  position: fixed;
  bottom: 20px;
  width: 28%;
  max-width: 212px;
  border-radius: 6px;
  text-align: center;
  line-height: 100%;
  font-size: 0.7em;
}
.navFooter h4 {
  margin-block-start: 0;
  margin-block-end: 4px;
}
.navFooter p {
  margin-block-start: 0;
  margin-block-end: 20px;

}

.buttonGroup {
  border-radius: 6px;
}
.nameTitle {
  line-height: 100%;
}

.nameSubtitle {
  line-height: 100%;
  color: rgba(0,0,0,0.5);
}

.profilePhoto {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  border-radius: 100%;
  overflow: hidden;
  border: solid;
  border-width: 5px;
  border-color: rgba(0,74,116,0.8);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}



@media only screen and (max-width: 800px) {
  .navWrapper {
    display: none;
    overflow: hidden;
    width: 0px;
  }

  .Navigation {
    width: 0%;
    max-width: 216px;
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
  }

  .navFooter {
    padding: 10px;
  }

  .sectionBody{
    width: 100%;
    margin-left: 0px;
    border-left-width: 0px;
  }
}